@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(to right, #D89450, #DEB36E);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    text-align: start;
    padding-left: 10px;
    background-color: lightgrey;
    color: white;
    border-left: #FE4D3A 5px solid;
    padding: 10px;
    margin: 10px;
    text-align: center;
    ;
}

img {
    border: 5px black solid;
    box-shadow: 6px 6px 10px black;
    border-radius: 10px;
    margin-top: 20px;
    width: 600px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    border: 1px solid black;
    font-weight: 400;
    font-size: 1.3em;
}