* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #F1F0FF;
}

h1 {
    background-color: #C3C3E5;
    text-align: center;
    border-bottom: 5px solid black;
}

img {
    margin: 10px;
    border: 5px solid black;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    border-left: red 5px solid;
    padding-left: 4px;
}

p {
    background-color: #C3C3E5;
}

#header {}

#content {
    padding-left: 20px;
}

#text {
    margin: 20px 0px 20px 0px;
    width: 90%;
}

#text p {
    text-indent: 40px;
    border: 5px black dashed;
    padding: 5px 15px 5px 15px;
    box-shadow: 5px 5px 5px black;
}

#text p:first-child {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 6px;
    background-image: url('/comic/images/fondoParrafo.png');
}

#text p:last-child {
    margin-top: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#menu {
    margin-bottom: 15px;
}

#menu a {
    text-decoration: none;
}


#menu li {
    display: inline;
}

#menu li a:hover {
    border-bottom: 5px solid red;
}

#footer {
    background-color: #443266;
    color: white;
    text-align: center;
    margin-bottom: 100px;
    padding: 5px 0px 5px 0px;
}

#footer a {
    color: white;
    text-decoration: none;
    
}

#footer a:hover {
    border-bottom: 5px solid red;
}

#image {
    text-align: end;
    padding-right: 60px;
}

@media all and (max-width: 700px) {
    img {
    border: 5px solid red;
    width: 90%;
}
#image {
    text-align: center;
}
}